@tailwind base;
@tailwind components;
@tailwind utilities;


@layer theme {
  :root {
    --primary-bg: 163 183 202;
    --secondary-bg: 255 255 255;
    --primary-text: 0 0 0;
    --secondary-text: 0 0 0;
  }

  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-bg: 0 32 46;
      --secondary-bg: 0 0 0;
      --primary-text: 255 255 255;
      --secondary-text: 255 255 255;
    }
  }
}
